/* box 1개짜리 시작 */
.realtime_box1{
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.rbox1_content{
    width: 1200px;
    height: 250px;
    border-radius: 20px;
    background-color: orange;
}
.rbox1_title1{
    margin-top: 50px;
    margin-left: 30px;
    font-size: 80px;
    font-weight: 600;    
}
.rbox1_title2{
    font-size: 30px;
    font-weight: 600;
}
/* box 2개짜리 시작 */
.realtime_box2{/*더 큰 박스*/
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: black;
}
.rbox2_content_container{/*큰박스*/
    display: flex;
    flex-direction: row;
    width: 1200px;
    justify-content: space-between;
    border-radius: 20px;
    
}
.rbox2_title{
    display: flex;
    text-align: center;
    justify-content: center;
    border-radius: 10px;
    font-weight: 500;
    font-size: large;
    height: 100px;
    width: 500px;
    background-color: pink;
    
}
.rbox2_content{ /*각 박스*/
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    width: px;
    height: 1000px;
}

/* copyright box 시작 */
.main_copyRight{
    margin: 60px 0 30px 0;
    height: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.copyRight_link{
    display: flex;
    flex-direction: row;
}
a{ 
    text-decoration: none;
}
.vertical_bar2{
    height: 20px;
    border-right: 1px solid black;
    margin: 0 10px 0 10px;
}